# Lab Summaries
You'll be required to write a summary of each lab you complete. The summary should be written in Markdown and should be a minimum of 200 words. The summary should include the following:   
- An executive summary.
- A description of the .
- A description of the results you obtained.
- A description of the conclusions you drew from the results.